<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
            integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .active-users {
            width: 200px;
            background-color: #f2f2f2;
            height: 100%;
            float: left;
            padding: 20px;
        }

        .chat-container {
            margin-left: 220px; /* Adjust the margin to accommodate the user list */
        }

        .card-container {
            position: fixed;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 300px; /* Adjust width as needed */
            margin: 10px;
        }

        .btn-container {
            display: flex;
            justify-content: center; /* Center the button */
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Username:</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <label for="name"></label>
                <input type="text" id="name" placeholder="Username..." autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" th:unless="${hidden_survey==false}" class="accent username-submit">Join Room</button>
            </div>
        </form>
        <div class="form-group">
            <form th:if="${hidden_survey}" th:method="GET" th:action="@{/survey}">
                <button type="submit" class="accent username-submit">View Survey results</button>
            </form>
        </div>

    </div>

</div>

<div id="chat-page" class="hidden">
    <div class="active-users">
        <h2>Active Users</h2>
        <ul id="activeUsersList"></ul>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chatroom</h2>
            <form id="exitButton">
                <button  class="btn btn-danger">Exit</button>
            </form>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea"></ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Text..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
        <button id="sendSurveyButton" style="display: none" class="btn btn-info">Send Survey</button>
        <div style="display: none" id="survey" class="card-container">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <p>
                            <strong>Your opinion matters</strong>
                        </p>
                        <p>
                            How satisfied are you with our website?<br>
                            <strong>Give us your feedback.</strong>
                        </p>
                    </div>
                    <hr />
                    <form class="px-4" th:method="POST" th:action="@{/survey}">
                        <p class="text-center"><strong>Your rating:</strong></p>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example1" value="Very good:5" />
                            <label class="form-check-label" for="radio2Example1">Very good</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example2" value="Good:4" />
                            <label class="form-check-label" for="radio2Example2">Good</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example3" value="Mediocre:3" />
                            <label class="form-check-label" for="radio2Example3">Mediocre</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example4" value="Bad:2" />
                            <label class="form-check-label" for="radio2Example4">Bad</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="radio" name="exampleForm" id="radio2Example5" value="Very bad:1" />
                            <label class="form-check-label" for="radio2Example5">Very bad</label>
                        </div>
                        <div class="card-footer text-end">
                            <button id="surveyButton" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
