<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Results</title>
</head>
<body>
<h1>Survey Results</h1>

<table border="1">
    <thead>
    <tr>
        <th>Rating</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through survey results and populate table rows -->
    <tr th:each="entry : ${survey_results}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
